@import url('https://use.fontawesome.com/releases/v5.14.0/css/all.css');
body {
 
 background-image: url('menu-background.jpg');
 background-repeat: no-repeat;

}

* {
  
  box-sizing: border-box;
   font-family: 'Exo', sans-serif;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: left 0.5s ease-out, transform 0.5s ease-out;
  animation: pulse 1s ease-in-out infinite;
  z-index: 1;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
  }
  10% {
    transform: translate(-50%, -50%) scale(0.52);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

#menu {
  text-align: right;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.5s ease-out, transform 0.5s ease-out;
  z-index: 0;
  background: rgb(138,103,237);
  background: linear-gradient(90deg, rgba(138,103,237,1) 0%, rgba(81,61,146,1) 100%);
  padding: 20px;
  width: 30%;
  font-size: 40px;
  color: white;
  border-radius: 0 5px 5px 0;
  margin: 4px 2px;
  transition: 0.3s;
}

#menu.open {
  left: calc(50% + 175px);
}


#menu a {
  display: block;
  padding: 10px;
}

#menu.open {
  left: calc(50% + 75px);
}

.option {
  padding: 20px;
  text-align: center;
  transition: left 0.5s ease-out;
}

.option:hover {
  left: 20px;
  background: linear-gradient(90deg, rgba(247,102,178,1) 0%, rgba(155,60,99,1) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

body {
 
 background-image: url('menu-background.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 
 background-size: 100% 100%;
}


.top-bar,
.bottom-bar {
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.top-bar {
  top: 0;
  color: white;
}

.bottom-bar {
  bottom: 0;
  color: white;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 65px;
  height: 65px;
padding-left: 5px;
}

.score {
  margin-left: 10px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls i {
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}



.chat-icon {
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  border: 2px solid #ffffff;
  cursor: pointer;
  background: rgb(23,43,96);
background: linear-gradient(180deg, rgba(23,43,96,1) 0%, rgba(63,86,136,1) 100%);
}
